{% extends 'main.html' %}


{% block content %}
<div class="game-details-container">
    <div class="login-container">
        <div class="login-form">
    <h1>დაამატე თამაში</h1>
    <form action="" method="POST" enctype="multipart/form-data"> <!--ამის გარეშე ვერ მივიღებთ ფაილებს პითონში-->
        {% csrf_token %}

        <div class="form-group">
            <label>თამაშის სურათი</label>
            {{ form.picture }}
        </div>

        <div class="form-group">
            <label>თამაშის სახელი</label>
            {{ form.name }}
        </div>
        <div class="form-group">
            <label>აღჭურვილობა:</label>
            {{ form.equipment }}
        </div>
        <div class="form-group">
            <label for="game_age">ასაკი:</label>
            <input required type="text" name="age" list="age-list">
            <datalist id="age-list">
                {%  for age in ages  %}
                    <select id="game_age">
                        <option value="{{ age.age }}">{{ age.age }}</option>
                    </select>
                {%  endfor  %}
            </datalist>
        </div>
        <div class="form-group">
            <label for="game_category">კატეგორია:</label>
            <input required type="text" name="category" list="category-list">
            <datalist id="category-list">
                {%  for category in categories  %}
                    <select id="game_category">
                        <option value="{{ category.name }}">{{ category.name }}</option>
                    </select>
                {%  endfor  %}
            </datalist>
        </div>
        <div class="form-group">
            <label>მოთამაშეთა რაოდენობა:</label>
            {{ form.numberOfPlayers }}
        </div>
        <div class="form-group">
            <label>უნარები:</label>
            {{ form.keyFeatures }}
        </div>
         <div class="form-group">
            <label>მიზანი:</label>
            {{ form.description }}
        </div>
        <div class="form-group">
            <label>როგორ ვითამაშოთ:</label>
            {{ form.howToPlay }}
        </div>
        <div class="form-group">
            <label>რჩევები:</label>
            {{ form.tips }}
        </div>

        <div class="form-group">
            <label >ატვირთე PDF:</label>
            {{ form.content }}
        </div>
        <input class="login-button" type="submit" value="Upload">
    </form>
        </div>
    </div>
</div>
{% endblock %}
