{% extends 'main.html' %}
{% block title %} <title>{{ game.name }}</title> {% endblock %}
{% block content %}


    <div class="game-details-container">
        <h1 class="game-title">{{ game.name }}</h1>

        <div class="game-image">
            <img src="{{ game.picture.url }}" alt="{{ game.name }}">
        </div>

        <div class="details-section">
            <h3>მიზანი:</h3>
            <p>{{ game.description }}</p>
        </div>

        <div class="details-section">
            <h3>განვითარებადი უნარები:</h3>
            <p>{{ game.keyFeatures }}</p>
        </div>

        <div class="details-section">
            <h3>როგორ ვითამაშოთ:</h3>
            <p>{{ game.howToPlay }}</p>
        </div>

        <div class="details-section">
            <h3>რჩევები:</h3>
            <p>{{ game.tips }}</p>
        </div>
        <div class="details-section">
            <h3>მომხმარებელი:</h3>
            <p>{{ game.creator }}</p>
        </div>
        <div class="details-section">
            <h3>დამატების დრო:</h3>
            <p>{{ game.created }}</p>
        </div>
        <br>


        <div class="card_buttons">
            <a href="#" class="button">ჩამოტვირთე</a>
            <a href="#" class="button">❤დამატება</a>
            <a href="#" class="button">დაბრუნება</a>
            <a href="#" class="button">წაშლა</a>
        </div>
    </div>


{% endblock %}