{% extends 'main.html' %}

{% block title %} <title>ავტორიზაცია</title> {% endblock %}

{% block content %}
  <div class="login-wrapper">
  <div class="login-container">
    <div class="login-form">
      <h2>ავტორიზაცია</h2>

      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
          <label>მომხმარებლის სახელი</label>
          <input type="text" name="username" required>
        </div>
        <div class="form-group">
          <label for="password">პაროლი:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div class="form-options">
          <div class="checkbox-group">
            <input type="checkbox" id="remember-me" name="remember">
            <label for="remember-me">დამიმახსოვრე</label>
          </div>
          <a href="#">პაროლის აღდგენა</a>
        </div>
        <button type="submit" class="login-button">შესვლა</button>
      </form>
      <p class="register-link">ჯერ არ გაქვთ ანგარიში? <a href="{% url 'register'%}">რეგისტრაცია</a></p>
    </div>
  </div>
</div>

{% endblock %}

