<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        {% block title %}{% endblock %}
        {% load static %}
        <link href="{% static 'styles/styles.css' %}" rel="stylesheet">
        <link href="{% static 'styles/base.css' %}" rel="stylesheet">
        <link href="{% static 'styles/cards.css' %}" rel="stylesheet">
        <link href="{% static 'styles/navbar.css' %}" rel="stylesheet">
        <link href="{% static 'styles/forms.css' %}" rel="stylesheet">
        <link href="{% static 'styles/utils.css' %}" rel="stylesheet">
        <link href="{% static 'styles/buttons.css' %}" rel="stylesheet">
        <link href="{% static 'styles/hamburger.css' %}" rel="stylesheet">
        <link href="{% static 'styles/description.css' %}" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&display=swap" rel="stylesheet">

    </head>

    <body id="body">

        {% include 'navbar.html' %}

        {% include 'lower_navbar.html' %}

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block content %}

        {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>
<!--    <script src="{% static 'js/apps.js' %}"></script>-->
    </body>
</html>