<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% block title %}{% endblock %}
        {% load static %}
        <link href="{% static 'styles/styles.css' %}" rel="stylesheet">
    </head>

    <body>
    <style>
        body {
          background-image: url("{% static 'files/toys-wallpaper.jpg' %}");
          background-size: cover;
          background-position: center;
        }
    </style>
        {% include 'navbar.html' %}

        {% include 'lower_navbar.html' %}

        {% block content %}

        {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>