{% load static %}
  <header>
    <nav class="navbar">
      <div class="container">
        <div class="logo">ვიGAMEოთ</div>

        <ul class="nav-links">
          <li><a href="{% url 'home' %}">მთავარი</a></li>
          <li><a href="{% url 'about' %}">ჩვენს შესახებ</a></li>
          <li><a href="{% url 'contact' %}">კონტაქტი</a></li>
<!--          <li><a href="#">Profile</a></li>-->
        </ul>

        <form class="search-bar" role="search" action="">
          <input name = "q" type="text" placeholder=" იპოვე თამაში.. " aria-label="search">
          <button type="submit">ძებნა</button>
        </form>

        {% if request.user.is_authenticated %}

          <div class="profile-container">
              @{{ request.user.username }}
            <img src="{{ request.user.avatar.url }}" alt="Profile" class="profile-icon" id="profileIcon">
            <div id="profileDropdown" class="dropdown-content">
<!--              <a href="#">Home</a>-->
              <a href="{% url 'profile' request.user.id %}">ჩემი თამაშები</a>
              <a href="{% url 'update_user' %}">პროფილის გვერდი</a>
              <a href="{% url 'upload' %}">თამაშის ატვირთვა</a>
              <a href="{% url 'logout' %}">გამოსვლა</a>
            </div>
          </div>
          {% else %}
          <div class="sign-in-container">
              <a href="{% url 'login' %}" class="sign-in-button">შესვლა</a>
          </div>

        {% endif %}

      </div>
    </nav>
  </header>